@using Interrogator.Game
@using Interrogator.Game.Setup
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code
{
    [Inject]
    private PrisonManager PrisonManager { get; set; }
    
    [Inject]
    private Loader Loader { get; set; }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        Console.WriteLine("Initialize App");
        if (this.PrisonManager.ActivePrison == null)
        {
            var prison = await Loader.LoadPrison();
            this.PrisonManager.InitializeNewGame(prison);
        }

    }


}
